<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project Starter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="https://unpkg.com/simple-statistics@5.0.0/dist/simple-statistics.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body class = "page-style">      
<div class="jumbotron jumbotron-fluid">
</div> 
<div id="nav">
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/stats/">Basic Stats</a></li>
            <!-- <li><a href="/location/">Location Info</a></li>
            <li><a href="/writing/">Writing</a></li> -->
            <li><a href="/complete/">Test Campaign</a></li>
          </ul>
          <a href="https://www.kickstarter.com/" target="_blank" class="navbarlink">Go to Kickstarter</a>
        </div>		
      </div>
    </div>
  </div>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Welcome to Project Starter</h1>
            <br>
            <h4>So you have a great idea for a project!  You just need the money and all of your friends are telling you that you need to do crowdfunding and recommend Kickstarter. </h4> 
            <br>
            <h4>Thing is...where do you start?  Is your project right to start a fundraising campaign on Kickstarter?  If so, how much is the right amount to try to raise?  What’s too much or too little?  How long should you fundraise? When is the best time to start? </h4> 
            <br>
            <h1>SO MANY QUESTIONS!!</h1>
            <br>
            <img src ="../static/css/cartoon.jpg">
            <br>
            <h4>On Project Starter we break down the categories and sub-categories of campaigns by the success rate of lots of different data.  Type, subtype, month started, campaign length, campaign title, blurb...lots of good stuff!</h4>
            <br>
            <h4>After you explore all of the data, and get an idea of where you need to start, you can input your proposed project information and we’ll try to determine your chance of success.</h4> 
            <br>
            <h6>Disclamer:  This is an experimental process, we can’t guarantee the results of any campaign or the probability of how accurate this whole thing will be.  Have fun!</h4>
        </div>    
    </div>
    <div class="row">
      <div class="col-md-5"></div>
      <div class= "col-md-2">
          <a href="/stats/"><button class="nextbutton">Get Started!</button></a>
      </div> 
      <div class="col-md-5"></div>   
    </div>
</div>

</body>

</html>