<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project Starter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="https://unpkg.com/simple-statistics@5.0.0/dist/simple-statistics.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Leaflet CSS & JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
</head>

<body class = "page-style">      
<div class="jumbotron jumbotron-fluid">
</div> 
<div id="nav">
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/stats/">Basic Stats</a></li>
            <li><a href="/location/">Location Info</a></li>
            <li><a href="/writing/">Writing</a></li>
            <li><a href="/complete/">Test Campaign</a></li>
          </ul>
          <a href="https://www.kickstarter.com/" target="_blank" class="navbarlink">Go to Kickstarter</a>
        </div>		
      </div>
    </div>
  </div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Mappy description stuff here</h3>
        </div>    
    </div>
    <div class="row">
      <!-- Map goes here -->
      <div class="col-md-9">
          <div id="map" style="height: 450px"></div>
      </div>
      <div class="col-md-3">
      <!-- dropdown category   -->
        <div class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <select class="" id=""></select>
          <br>
          <table="table table-bordered">
            <tbody></tbody>
          </table>
        </div>
        <div class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <select class="" id=""></select> 
          <br>  
            <table="table table-bordered">
              <tbody></tbody>
            </table> 
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-5"></div>
        <div class= "col-md-2">
            <a href="/writing/"><button class="nextbutton">Next</button></a>
        </div> 
        <div class="col-md-5"></div>   
      </div>  
</div>

</body>

</html>