<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project Starter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/simple-statistics@5.0.0/dist/simple-statistics.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Leaflet CSS & JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
</head>

<body class = "page-style">      
<div class="jumbotron jumbotron-fluid">
</div> 
<div id="nav">
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="stats.html">Basic Stats</a></li>
            <li><a href="location.html">Location Info</a></li>
            <li><a href="writing.html">Writing</a></li>
            <li><a href="complete.html">Putting it Together</a></li>
          </ul>
          <a href="https://www.kickstarter.com/" target="_blank" class="navbarlink">Go to Kickstarter</a>
        </div>		
      </div>
    </div>
  </div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae molestias cum magnam suscipit voluptates. Nobis consequatur pariatur eligendi corrupti, totam voluptatibus perspiciatis, et qui quod dolor aliquid minima aliquam quisquam!</h3>
            <div id="map" style="height: 450px"></div>
        </div>    
    </div>
</div>

</body>

</html>