<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project Starter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="https://unpkg.com/simple-statistics@5.0.0/dist/simple-statistics.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body class = "page-style">      
<div class="jumbotron jumbotron-fluid">
</div> 

<!-- navbar -->
<div id="nav">
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/stats/">Basic Stats</a></li>
            <li><a href="/location/">Location Info</a></li>
            <li><a href="/writing/">Writing</a></li>
            <li><a href="/complete/">Putting it Together</a></li>
          </ul>
          <a href="https://www.kickstarter.com/" target="_blank" class="navbarlink">Go to Kickstarter</a>
        </div>		
      </div>
    </div>
  </div>  
<div class="container">
  <!-- month started chart -->
  <div class="row">
    <div class="col-md-9">
      <H3>Month Campaign Was Started</H3>
      <div id="monthStartedStackedBar"></div>     
    </div>
    <!-- month started dropdown #1 campaign type -->
    <div class="col-md-3">
      <div class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <select id="parentCategorySelectMonthStarted" onchange="optionChangedMonthStartedStackedBar(this.id)"></select>
        <br>
        <table="table table-bordered">
          <tbody></tbody>
        </table>
      </div>
    <!-- month started dropdown #2 campaign subtype -->
      <div class"col-md-12">
          <div class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <select id="categorySelectMonthStarted" onchange="optionChangedMonthStartedStackedBar(this.id)"></select>
              <br>
              <table="table table-bordered">
                <tbody></tbody>
              </table>
            </div>
      </div>
      <div class="col-md-12">
        <form class="labelfont">
          <div class="radio">
            <label><input type="radio" name="optradio" value="number" checked="checked" onchange=optionChangedMonthStartedStackedBar(this.id) id="monthStartedRadioNumberCampaigns">Number of Campaigns</label>
         </div>
         <div class="radio">
            <label><input type="radio" name="optradio" value="percent" onchange=optionChangedMonthStartedStackedBar(this.id) id="monthStartedRadioPercentCampaigns">Percent of Campaigns</label>
         </div>
        </form>
      </div>
    </div>
  </div>
  <!-- lenght of campaign chart -->
  <div class="row">
      <div class="col-md-9">
        <H3>Length of Campaign</H3>
        <div id="lengthCampaignstackedBar"></div>     
      </div>
      <!-- lenght campaign dropdown #1 campaign type -->
      <div class="col-md-3">
        <div class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <select id="parentCategorySelectLengthCampaign" onchange="optionChangedLengthCampaignStackedBar(this.id)"></select>
          <br>
          <table="table table-bordered">
            <tbody></tbody>
          </table>
        </div>
      <!-- lenght campaign dropdown #2 campaign subtype -->

        <div class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <select id="categorySelectLengthCampaign" onchange="optionChangedLengthCampaignStackedBar()"></select>
            <br>
            <table="table table-bordered">
              <tbody></tbody>
            </table>
        </div>

      <div class="col-md-12">
          <form>
            <div class="radio">
              <label><input type="radio" name="optradio" value="number" checked="checked" onchange="optionChangedLengthCampaignStackedBar(this.id)" id="lengthCampaignRadioNumberCampaigns">Number of Campaigns</label>
           </div>
           <div class="radio">
              <label><input type="radio" name="optradio" value="percent" onchange="optionChangedLengthCampaignStackedBar(this.id)" id="lengthCampaignRadioPercentCampaigns">Percent of Campaigns</label>
           </div>
          </form>
        </div>  
    </div>
      <!-- category chart -->
  <div class="row">
      <div class="col-md-6">
          <H3>Success by Category</H3>
          <div id="parentCategoryStackedBar"></div> 
          <h5>Click a category on the chart for subcategory information.</h5>
      </div>
      <!-- subcategory chart -->
      <div class="col-md-6">
          <H3>Success by Subcategory</H3>
          <div id="categoryStackedBar"></div>   
      </div>
    </div>
  <!-- next button -->
    <div class="row">
        <div class="col-md-5"></div>
        <div class= "col-md-2">
            <a href="/location/"><button class="nextbutton">Next</button></a>
        </div> 
        <div class="col-md-5"></div>   
      </div>
</div>

<script src="{{ url_for( 'static', filename='js/stats.js' ) }} "></script>

</body>

</html>