.jumbotron {
    background-image: url("logo.jpg"); 
    background-size: cover;
    background-position: center;
    background-size: 40% 100%;
    background-repeat: no-repeat;
    background-color: white;

}

.page-style{
    background-color: white;
    color: rgb(3, 71, 82);
    font: Impact;
    font-size: 1em;
}

.navbar {
    background-color: rgb(3, 71, 82);
    font-size: medium;
    font-style: bold; 
    color: white;
}

.navbarlink {
    float: right;
    padding: 15px 15px;
    color: white;
}